<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="Jordi Romero's blog about programming, computer engineering, computer architecture, web application development, ruby on rails and more." name='description' />
  <meta content='jordi romero, romero, jordi, jrom, jrdv, blog, personal blog, technology, computer science, computer engineering, computer architecture, compilers, ruby, ruby on rails, rails, javascript, C, C++, llvm' name='keywords' />
  <title>Jordi Romero</title>
  <link href='/css/jrom.css' media='screen' rel='stylesheet' type='text/css' />
  <link href='/favicon.ico' rel='shortcut icon' />
  <link href='/articles.xml' rel='alternate' type='application/atom+xml' />
</head>
<body class='index'>
  <div id='content'>
    <div id='header'>
      <h1>
        <a href='/' title='Jordi Romero'>Jordi Romero</a>
      </h1>
      <a class='about' href='/about' title='About Jordi Romero'>About</a>
    </div>
    {{ content }}
    <div id='footer'>
      <p class='copyright'>Copyright &copy; 2010 Jordi Romero</p>
      <div class='feed'>
        <a href='http://feeds.feedburner.com/JROM' rel='nofollow' title='Subscribe to this blog'>
          <span>Subscribe to the feed</span>
          <img alt='Subscribe to this blog' src='/feed-icon.png' />
        </a>
      </div>
    </div>
  </div>
  <script src='/javascripts/highlight.js' type='text/javascript'></script>
  <script type='text/javascript'>
    //<![CDATA[
      hljs.initHighlightingOnLoad();
    //]]>
  </script>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-1022782-6");
      pageTracker._trackPageview();
    } catch(err) {}</script>
  <!--<script src="/mint/?js" type="text/javascript"></script> -->
</body>
</html>

